$black-palette: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$grey-palette: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #909090,
  300: #646464,
  400: #424242,
  500: #212121,
  600: #1d1d1d,
  700: #181818,
  800: #141414,
  900: #0b0b0b,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$pink-palette: (
  50: #f5e2e9,
  100: #e5b7c8,
  200: #d487a3,
  300: #c3567e,
  400: #b63262,
  500: #a90e46,
  600: #a20c3f,
  700: #980a37,
  800: #8f082f,
  900: #7e0420,
  A100: #ffacba,
  A200: #ff798f,
  A400: #ff4665,
  A700: #ff2c50,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$red-palette: (
  50: #fbe2e2,
  100: #f4b7b6,
  200: #ed8885,
  300: #e55854,
  400: #e03430,
  500: #da100b,
  600: #d60e0a,
  700: #d00c08,
  800: #cb0906,
  900: #c20503,
  A100: #ffebeb,
  A200: #ffb8b8,
  A400: #ff8585,
  A700: #ff6c6b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$cyan-palette: (
  50: #e0f7fa,
  100: #b3ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #00b6cf,
  700: #00adc9,
  800: #00a5c3,
  900: #0097b9,
  A100: #e2f9ff,
  A200: #afeeff,
  A400: #7ce3ff,
  A700: #63ddff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-orange-palette: (
  50: #fffbf6,
  100: #fff6e8,
  200: #fff0d9,
  300: #ffe9c9,
  400: #ffe5be,
  500: #ffe0b2,
  600: #ffdcab,
  700: #ffd8a2,
  800: #ffd399,
  900: #ffcb8a,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$orange-palette: (
  50: #fff3e0,
  100: #ffe0b3,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #ff9000,
  700: #ff8500,
  800: #ff7b00,
  900: #ff6a00,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd6bf,
  A700: #ffc5a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-orange-palette: (
  50: #feefe0,
  100: #fcd8b3,
  200: #fabe80,
  300: #f8a34d,
  400: #f79026,
  500: #f57c00,
  600: #f47400,
  700: #f26900,
  800: #f05f00,
  900: #ee4c00,
  A100: #ffffff,
  A200: #ffe9e1,
  A400: #ffc3ae,
  A700: #ffb095,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$yellow-palette: (
  50: #fffae1,
  100: #fef2b4,
  200: #fdea82,
  300: #fce150,
  400: #fcda2b,
  500: #fbd405,
  600: #facf04,
  700: #fac904,
  800: #f9c303,
  900: #f8b901,
  A100: #ffffff,
  A200: #fff9eb,
  A400: #ffebb8,
  A700: #ffe39f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-palette: (
  50: #e4f1e5,
  100: #bcdcbd,
  200: #8fc592,
  300: #62ae66,
  400: #419c45,
  500: #1f8b24,
  600: #1b8320,
  700: #17781b,
  800: #126e16,
  900: #0a5b0d,
  A100: #8fff92,
  A200: #5cff60,
  A400: #29ff2f,
  A700: #0fff16,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$teal-palette: (
  50: #e0efed,
  100: #b3d6d2,
  200: #80bbb5,
  300: #4da097,
  400: #268b80,
  500: #00776a,
  600: #006f62,
  700: #006457,
  800: #005a4d,
  900: #00473c,
  A100: #7bffe5,
  A200: #48ffda,
  A400: #15ffd0,
  A700: #00fbc9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$blue-palette: (
  50: #e2ebf6,
  100: #b7cce8,
  200: #87abd9,
  300: #5789ca,
  400: #336fbe,
  500: #0f56b3,
  600: #0d4fac,
  700: #0b45a3,
  800: #083c9a,
  900: #042b8b,
  A100: #b7c7ff,
  A200: #84a0ff,
  A400: #5179ff,
  A700: #3766ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$indigo-palette: (
  50: #e4e6f1,
  100: #bdc1dc,
  200: #9198c4,
  300: #646fac,
  400: #43509b,
  500: #223189,
  600: #1e2c81,
  700: #192576,
  800: #141f6c,
  900: #0c1359,
  A100: #8e96ff,
  A200: #5b67ff,
  A400: #2838ff,
  A700: #0e20ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$purple-palette: (
  50: #efe7f6,
  100: #d7c4e9,
  200: #bc9ddb,
  300: #a175cd,
  400: #8c58c2,
  500: #783ab7,
  600: #7034b0,
  700: #652ca7,
  800: #5b259f,
  900: #481890,
  A100: #dbc7ff,
  A200: #bb94ff,
  A400: #9b61ff,
  A700: #8a47ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$custom-blue: (
  50: #e0efff,
  100: #b3d7ff,
  200: #80bcff,
  300: #4da1ff,
  400: #268cff,
  500: #0078ff,
  600: #0070ff,
  700: #0065ff,
  800: #005bff,
  900: #0048ff,
  A100: #ffffff,
  A200: #f2f5ff,
  A400: #bfcdff,
  A700: #a6b9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-green: (
  50: #e4ffe0,
  100: #baffb3,
  200: #8dff80,
  300: #5fff4d,
  400: #3cff26,
  500: #1aff00,
  600: #17ff00,
  700: #13ff00,
  800: #0fff00,
  900: #08ff00,
  A100: #ffffff,
  A200: #f2fff2,
  A400: #c0ffbf,
  A700: #a6ffa6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-yellow: (
  50: #fffee0,
  100: #fffdb3,
  200: #fffb80,
  300: #fff94d,
  400: #fff826,
  500: #fff700,
  600: #fff600,
  700: #fff500,
  800: #fff300,
  900: #fff100,
  A100: #ffffff,
  A200: #fffef2,
  A400: #fffbbf,
  A700: #fff9a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
