// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './scss/palettes' as palette;

@include mat.core();

$peer-primary: mat.define-palette(palette.$grey-palette);
$peer-accent: mat.define-palette(palette.$green-palette, 400, 900, A700);
$peer-warn: mat.define-palette(mat.$red-palette);

$peer-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $peer-primary,
      accent: $peer-accent,
      warn: $peer-warn,
    ),
  )
);
$peer-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $peer-primary,
      accent: $peer-accent,
      warn: $peer-warn,
    ),
  )
);

@include mat.all-component-themes($peer-light-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  &.dark-mode {
    @include mat.all-component-colors($peer-dark-theme);

    .mat-drawer-container {
      background-color: #181818;
    }
    .mat-mdc-card {
      --mdc-elevated-card-container-color: #121212;
    }
  }
}
a:link {
  text-decoration: none;
}
.space {
  flex: 1 0 auto;
}
.fade-in {
  animation: fade-in 1200ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.meet-expansion-panel .mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0;
  margin-bottom: -4px;
}

.meet-chat-dialog {
  border-radius: 4px;
  overflow: hidden;
}

a[href] {
  display: inline-flex;
  height: auto;
  &:hover {
    cursor: pointer;
  }
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;

    &.space-between {
      justify-content: space-between;
    }

    &.space-around {
      justify-content: space-around;
    }
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }
}

.text-small {
  font-size: 60%;
}
.text-muted {
  opacity: 0.6;
}

video.video-element {
  width: 720px;
  max-width: 720px;
}
